body {
    font-family: sans-serif;
    /*background: #f1f1f1;*/
    background: -webkit-linear-gradient(bottom, #46de4b, #d4f7d5);
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    /*ketebalan font*/
    font-weight: 300;

}


.silahkan_login {
    text-align: center;
    font-weight: bold;
    /*membuat semua huruf menjadi kapital*/
    text-transform: uppercase;
}

.regist {
    text-align: center;
    text-decoration: none
}

 
 
.kotak_login {
    width: 350px;
    background: white;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    
    /*meletakkan form ke tengah*/
    margin: 120px auto;
    padding: 30px 20px;
}

label {
    font-size: 11pt;
}

.form_login {
    /*membuat lebar form penuh*/
    /*box-sizing: border-box;*/
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    font-size: 11pt;

    
}
.form-border {
    background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
    border: none;
    outline: none;
    height: 1px;
    width: 100%;
    margin-bottom: 20px;
}

.tombol_login {

    background: #46de4b;
    color: white;
    font-size: 11pt;
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
}

.tombol_regist {
    background: #46de4b;
    color: white;
    font-size: 11pt;
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
}

.link {
    color: #232323;
    text-decoration: none;
    font-size: 10pt;
}
.wrap{
	background: blue;
	width: 900px;
	margin: 10px auto;
}
 
/*bagian header*/
.wrap .header{
	background: green;
	/*height: 50px;*/
	padding: 2px 10px;
}
 
/*akhir header*/
 
/*bagian menu*/
.wrap .menu{
	background: yellow;
}
 
.wrap .menu ul{
	padding: 0;
	margin: 0;
	background: yellow;
	overflow: hidden;
}
 
.wrap .menu ul li{
	float: left;
	list-style-type: none;
	padding: 10px;
}
 
.wrap .content{
	background: red;
	padding: 10px;
	height: 450px;
	width: 880px;	
}
